# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
backend/.env
backend/db.sqlite3
backend/staticfiles/

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
*.log
backend/frontend_dist/
